/node_modules
/public/hot
/public/storage/exports
/public/storage/vendor
/public/storage/tests
/public/storage/logs
/public/storage/framework
/public/images
/public/upload
/storage/*.key
/vendor
/nbproject
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
Homestead.yaml
Homestead.json
/.vagrant






