/node_modules
/public/hot
/public/storage
/public/js
/public/images
/public/upload
/public/css
/public/fonts
/public/fontawesome-free
/storage/*.key
/vendor
/nbproject
.env
.phpunit.result.cache
npm-debug.log
yarn-error.log
Homestead.yaml
Homestead.json
/.vagrant






